* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cronometro {
    margin: 30px;
    background-color: black;
    color: white;
    padding:5px;
    border-radius: 3px;
    border: 2px solid white;
    box-shadow: 2px 2px 4px black;
}

a {
    text-decoration: none;
    color: #666666;
    transition: 0.25s;
}

a:hover {
    color: #969696;
    text-decoration: underline;
}


.btn button{
    height: 30px;
    width: 88px;
    border: none;
    border-radius: 3px;
    color: white;
    transition:0.25s;
    cursor: pointer;
}

#iniciar {
    background-color: green;
}

#iniciar:hover {
    background-color: rgb(60, 167, 60);
}

#pausar {
    background-color: gray;
}

#pausar:hover {
    background-color: rgb(179, 179, 179);
}

#parar {
    background-color: red;
}

#parar:hover {
    background-color: rgb(255, 69, 69);
}